@{
    ViewBag.Title = "Home Page";
}

@*
    Clima en Cartagena http://api.openweathermap.org/data/2.5/weather?id=3687238&appid=cc6bfa527998abd39564fb6dc3059449&lang=es

    {"coord":{"lon":-75.51,"lat":10.4},
    "weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],
    "base":"stations",
    "main":{"temp":303.914,"pressure":1019.73,"humidity":90,"temp_min":303.914,"temp_max":303.914,"sea_level":1021.77,"grnd_level":1019.73},
    "wind":{"speed":2.59,"deg":349.009},
    "rain":{"3h":0.385},
    "clouds":{"all":8},
    "dt":1478373858,
    "sys":{"message":0.1669,"country":"CO","sunrise":1478343256,"sunset":1478385415},
    "id":3687238,
    "name":"Cartagena",
    "c
    od":200}
*@
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@


@*<div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <table class="text-center table-bordered " style="width:100%">
                <tr>
                    <td colspan="6">
                    <img id="icon" src="#" alt="weatherIcon" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Ciudad:</td>
                    <td colspan="3"id="ciudad">-</td>
                </tr>
                <tr>
                    <td colspan="3">Clima:</td>
                    <td colspan="3" id="clima">-</td>
                </tr>
                <tr>
                    <td>Temperatura:</td>
                    <td id="temp">-</td>    
                    <td>Temp. Máxima:                    
                    <td id="tempMa">-</td>
                    <td>Temp. Mínima:</td>
                    <td id="tempMi">-</td>
                </tr>       
                <tr>
                    <td colspan="3">Vel Viento:</td>
                    <td colspan="3" id="viento">-</td>
                </tr>
                <tr>                   
                    <td colspan="6">
                        <select id="ciudades">
                            <option value="3689147">Barranquilla</option>
                            <option value="5095808">Bogotá</option>
                            <option value="3687238">Cartagena</option>                          
                            <option value="3674962">Medellin</option>                        
                        </select>                     
                    </td>
                    
                </tr>
            </table>
        </div>
        <div class="col-md-4">
        </div>
</div>*@

@*WEATHER BOX*@
<div id="weather">
    <h2>
        <i id="WIcon"></i><span id="Wtemp"></span>
    </h2>
    <ul>
        <li>
            <select id="ciudades">
                <option value="3689147">BARRANQUILLA, CO</option>
                <option value="5095808">BOGOTÁ, CO</option>
                <option value="3687238">CARTAGENA, CO</option>
                <option value="3674962">MEDELLIN, CO</option>
            </select>                     
        </li>
        <li id="WDescription" class="currently">-</li>
        <li id="WWindSpeed">-</li>
    </ul>
</div>

@*Search Bar*@
<div class="row margin">
    <form id="searchForm">
        <h1>YouTube Videos</h1>
        <div class="form-group">
            <div class="col-md-10">
                <input class="form-control" type="text" name="fname" id="txtSearch">
            </div>
            <div class="col-md-2">
                <input class="btn btn-block btn-danger" type="submit" value="Search" id="btnSubmit">
            </div>
        </div>
    </form>
</div>

@*List*@
<div class="row img-">  
    <div class="buttons"></div>
    <ul id="results" class="list-group margin">
    </ul>
    <div class="buttons"></div>
</div>

